# Environnement virtuel
venv/
.venv/

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Variables d'environnement
.env

# Base de données SQLite
*.db
*.sqlite3
